.container{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: fit-content;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.1);
}
.options-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

}