.option{
    margin: 2px auto;
    width: 80%;
    height: 40px;
    padding: 2px 10px;
    font-weight: 500;
    font-variant: small-caps;
    background-color: transparent;
    color: white;
    border: 1px solid #0DFF92;
}
.option:hover{
    background-color: azure;
    color: #0DFF92;
}